---
title: Reliance | Home Page
---

   <div class="container">
      <div id="contact-large">
         <h2><i class="icon-phone"></i> 604-302-9966</h2>
         <h4>Call For Quotes</h4>
      </div>
   </div>

   <div class="fixed-bar" id="contact-small">
      <div class="inner">
         <div class="container">
            <h2><i class="icon-phone"></i> 604-302-9966</h2>
            <h4>Call For Quotes</h4>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="row" id="header">
         <div class="span12">
            <h1 id="logo"><a href="/">Reliance Driving School</a></h1>
         </div><!--end span12-->
      </div><!--end row-->

      <div class="row" id="tagline">
         <div class="span12">
            <h2>Dedicated, Honest & Reliable</h2>
         </div><!--end span12-->
      </div>
   </div>
   <div id="navigation" class="fixed-bar">
   <div class="inner">
      <div class="container">
         <ul>
            <li class="active"><a href="/"><i class="icon-leaf"></i> Home</a></li>
            <li><a href="/pricing/"><i class="icon-briefcase"></i> Plans & Pricing</a></li>
            <li><a href="/about/"><i class="icon-road"></i> About Us</a></li>
            <li><a href="/contact/"><i class="icon-envelope-alt"></i> Contact Us</a></li>
         </ul>
      </div>
   </div>
</div>

<div class="container">

   <div class="row">
      <div class="span12">
         <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
               <div class="item">
                  <img src="/images/slider/slide_1.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/images/slider/slide_2.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/images/slider/slide_3.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/images/slider/slide_4.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/images/slider/slide_5.jpg" alt="">
               </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
         </div>
      </div>
   </div><!-- End Slider Row -->

   <div class="row" id="features">
      <div class="span3 divider">
         <div class="featureicon"><i class="icon-bullhorn"></i></div>
         <h3>Clear & concise</h3>
         <p>Same language meduim ensures that we provide all the instructions in proper way.</p>
      </div>
      <div class="span3 divider">
         <div class="featureicon"><i class="icon-gift"></i></div>
         <h3>Gift It!</h3>
         <p>You can gift these lessons to your loved ones as gift vouchers. Real easy.</p>
      </div>
      <div class="span3 divider">
         <div class="featureicon"><i class="icon-screenshot"></i></div>
         <h3>Variety of Plans</h3>
         <p>We have plans for all of your situations and we cater for all your needs.</p>
      </div>
      <div class="span3">
         <div class="featureicon"><i class="icon-star"></i></div>
         <h3>Class 5 & 7 licenses</h3>
         <p>Properly certified to provide training for Class 5 & 7 license.</p>
      </div>
   </div><!--end row-->
</div>
